.home {

    .homeContent {
      background: $color-background;
      box-shadow: 10px 3px 50px $color-shadow;
      height: 100%;
      min-height: $minHeight;
      min-width: 500px;
      border-radius: $borderRadius;
      position: relative;
      padding: 80px;

      .content {
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        height: 80vh;
        font-family: $font-1;
        .h1 {
          font-size: 2rem;
          font-family: $font-1;
          color: $color-title;
          text-transform: uppercase;
          text-shadow: 3px 6px 2px $color-background;
        }
        .h2 {
          font-size: 1.5rem;
          color: $color-text;
        }
        .pdf {
          a {
            color: $color-text;
            font-size: 1.5rem;
            background: $color-background;
            padding: 1rem 2rem;
            margin: 0 1rem 0;
            border-radius: $borderRadius;
            box-shadow: 0 5px 10px $color-shadow;
            transition: 0.2s ease;
  
            &:hover {
              background: $color-linear;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 850px){
    .homeContent {
      margin: 0 !important;
      width: 100% !important;
    }
  }
  @media screen and (max-width:580px){
    .homeContent {
      &:after {
      background: url('../../media/bigGates.jpg') no-repeat 60% 50%/cover !important;
      }
      h1 {
        font-size: 3rem !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }